/* You can add global styles to this file, and also import other style files */
.bg-lightgrey {
    background-color: lightgrey;  
}

.bg-mistyrose {
    background-color: mistyrose;  
}

.bg-bellagioGold {
    background-color: goldenrod;
}